.loginContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('../../../public/Images/Back/Fundo\ Opportuna.png') no-repeat center center;
    background-size: cover;
    position: relative;
  }
  .loginContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 160, 133, 0.863); /* Verde transparente */
    z-index: 1;
  }
  
  .leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2rem;
    z-index: 2;
  }
  
  .brandTitle {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #3BF5AC;
    margin-top: 1rem;
  }
  
  .tagline {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }
  
  .rightSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginCard {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 6rem;
    z-index: 2;
  }
  
  .loginTitle {
    font-size: 3rem;
    font-weight: bold;
    color: #F55B3B;
  }
  
  .input {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #8a8989;
    padding-top: 1rem;
  }

  .dropdown{
    padding: 0.8rem;
    margin-top: 1rem;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    color: #8a8989;
  }
  
  .loginButton {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1.5rem;
    background-color: #5CA085;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #4a886f;
  }
  
  .registerText {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #5CA085;
  }
  
  .registerLink {
    color: #F55B3B;
    font-weight: bold;
    text-decoration: none;
  }
  
  .registerLink:hover {
    text-decoration: underline;
  }

  .popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
    z-index: 2;
  }
  
  .success {
    background: #3BF5AC;
    color: white;
  }
  
  .error {
    background: #F55B3B;
    color: white;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  